/* Navigation */
nav {
  padding: 20px;
  text-align: center;       
  background-color: transparent; /* Genomskinlig bakgrund */
  margin: 0;                
}

nav a {
  margin: 0 15px;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  transition: color 0.3s;
  text-decoration: none;    /* Tar bort understrykning */
  text-shadow: 0 0 5px black;
}

nav a:hover {
  color: #7c3aed;
  text-decoration: none;    /* Ingen understrykning på hover */
}
