/* styles.css */

body {
    margin: 0;
    font-family: "Baskervville SC", serif;
    color: var(--text-color);
    background-color: var(--background-color);
    background-image: url('prague.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}

:root {
    --text-color: #000;
    --background-color: rgba(255, 255, 255, 0.8);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #fff;
        --background-color: rgba(0, 0, 0, 0.8);
    }
}

.container {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

h1 {
    font-family: "Baskervville SC", serif;
    font-size: 3em;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: var(--text-color);
}

#countdown p {
    font-size: 1.5em;
    margin: 10px 0;
    color: var(--text-color);
}
